@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, h1, h2, h3, nav, p {
    @apply font-sans;
  }

  p {
    @apply mb-4;
  }
}
/* @import "leaflet/dist/leaflet.css";

.leaflet-container {
  z-index: 0;
} */
